<configuration>
   <appSettings>
      <add key="appISBN" value="0-273-68726-3" />
      <add key="appBook" value="Corporate Finance" />
      <username>pranav</username>
      <password>password_123</password>
      <connec_string>10.1.5.150</connec_string>
   </appSettings>
</configuration>